body {
	color: black;
	background: grey;
}

div#page {
	color: black;
	background: white;
	width: 1024px;
	margin: 0 auto;
}

.title {
	font-weight: bold;	
}

.configStatusLabel {
	margin-left: 5px;
}

.FlexTable {
  text-align: center;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
/*   padding: 5px; */
}

.FlexTable-Cell {
  border-width: 1px 1px 1px 1px;
  border-style: dotted;
  border-color: black;
  padding: 5px;
}

.black {
	color: black;
}

.red {
	color: red;
}

.answer {
	height: 35px;
	font-size: xx-large;
	font-weight: bold;
}